<!--header-->
<div id="header">
    <a href="/Index" class="logo">
        <img src="img/logo2.webp" alt="">
    </a>
    <div id="menu">
        <div class="item">
            <a href="/Index">Trang chủ</a>
        </div>

        <div class="item">
            <a href="fishs">Cá Koi</a>
        </div>

        <div class="item">
            <a href="Consignments">Koi kí gửi</a>
        </div>
        
        @*  <div class="item">
            <a href="customers">Đăng nhập</a>
        </div> *@
        
        <div class="item">
            <a href="">Liên hệ</a>
        </div>

    </div>
    <div id="actions">
        <div class="item">
            <a href="Customers">
            <img src="img/user.png" alt="">
            </a>
        </div>
        <div class="item">
            <img src="img/cars.png" alt="">
        </div>
    </div>
</div>